*{
    /* font-family: 'Montserrat'; */
    font-family: 'Arial';
    font-family: 'Montserrat';

}
.header{
    width: 100%;
    height: 140px;
    background-color: #1C7730;
    
}
.title{
    float: left;
    color: white;
    font-size: 64px;
}
img{
    float: left;
}
.logout{
    
        float: right;
        padding-top: 50px;
        padding-right: 50px;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
    
}
.head
{
    padding: auto;
    margin-top: 67px;
    font-size: 35px;
    padding-left: 85px;
}
.headhr
{
    width: 1100px;
    height: 20px;
    left: 80px;
    top: 233px;
    border: 2px solid #000000;
    transform: rotate(-0.19deg);
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.assignimg
{
    position: absolute;
    width: 85px;
    height: 65px;
    left: 100px;
    top: 145px;

}

.content
{
   
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 51px 40px 51px 36px;
    gap: 12px;

    position: absolute;
    width: 1100px;
    height: 450px;
    left: 80px;
    top: 280px;

    background: #DFF4D7;
    border: 1px solid #000000;
    border-radius: 20px;
}
/* .completed{
    position: absolute;
    left: 450px;
    top: 30px;
    font-size: 30px;
}
.completedimg{
    position: absolute;
    width: 70px;
    left: 600px;
    background: url(.png);

} */
.content .tasktitle
{

    position: absolute;
    width: 280px;
    height: 44px;
    left: 36px;
    top: 81px;
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}
.completed{
   

    position: absolute;
    width: 35px;
    height: 35px;
    left: 210px;
    top: 71px;

    background: url(.png);
}
.successimg{
    /* Hands Graduate */


    position: absolute;
    width: 51px;
    height: 50px;
    left: 1000px;
    top: 60px;

    background: url(.png);
}
hr{

    position: absolute;
    width: 1020px;
    height: 0px;
    left: 36.38px;
    top: 100px;

    border: 3px solid black;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.topic
{
    position: absolute;
    width: 644px;
    height: 35px;
    left: 40px;
    top: 140px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
.youtubelink
{
    
    position: absolute;
    width: 630px;
    height: 29px;
    left: calc(50% - 765px/2 - 124px);
    top: 195px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}


.date
{
    position: absolute;
    width: 105px;
    height: 30px;
    left: 970px;
    top: 231px;
    text-align: center;
    border: 1px solid black;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #1C7730;
}
.instruction
{
    position: absolute;
    width: 280.87px;
    height: 30.42px;
    left: 40px;
    top: 263px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
.Insthr
{
    position: absolute;
    width: 554.1px;
    height: 0px;
    left: 36px;
    top: 280px;

    border: 1px solid #000000;
}
.desc
{
    position: absolute;
    width: 500px;
    height: 101px;
    left: 37px;
    top: 305px;
    
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
}


