*{
    font-family: 'Montserrat';
}
.header{
    width: 100%;
    height: 140px;
    background-color: #1C7730;
    
}
.tracker {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightgreen;
    color: black;
    padding: 10px;
    border-radius: 50%;
  }
  
  
.title{
    float: left;
    color: white;
    font-size: 64px;
}
img{
    float: left;
}
.backbutton{
    float: right;
    padding-top: 25px;
    padding-right: 50px;
    font-size: 50px;
    color: white;
    background-color: #1C7730;
    border: none;
}
.yearbox
{
    position: absolute;
    width: 461px;
    height: 865px;
    left: 0px;
    top: 140px;

    background: #D9D9D9;
}
.yeardetails
{
    position: absolute;
    width: 320px;
    height: 77px;
    left: 141px;
    top: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 54px;

    color: #000000;
}

.self_esteem_button
{
    
    position: absolute;
    width: 250px;
    height: 75px;
    left: 53px;
    top: 212px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000; 
   
    
}
.self_esteem svg
{
    position: absolute;
    width: 38px;
    height: 50px;
    left: 342px;
    top: 225px;
}
.Attitudes_Emotions_button
{
    position: absolute;
    width: 250px;
    height: 75px;
    left: 53px;
    top: 312px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;   
}
.Attitudes_Emotions svg
{
    position: absolute;
    width: 38px;
    height: 50px;
    left: 342px;
    top: 325px;
}

.dreams_purposeinlife_button
{
    position: absolute;
    width: 250px;
    height: 75px;
    left: 53px;
    top: 412px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;   
}
.dreams_purposeinlife svg
{
    position: absolute;
    width: 38px;
    height: 50px;
    left: 342px;
    top: 425px;
}
.Valuestoreachgoals_button
{
    position: absolute;
    width: 250px;
    height: 75px;
    left: 53px;
    top: 512px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;   
}
.Valuestoreachgoals svg
{
    position: absolute;
    width: 38px;
    height: 50px;
    left: 342px;
    top: 525px;
}
.topic5
{
    
    position: absolute;
    width: 250px;
    height: 75px;
    left: 53px;
    top: 612px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000; 
    
}
.topic_5 svg
{
    position: absolute;
    width: 38px;
    height: 50px;
    left: 342px;
    top: 625px;
}

.topic6
{
    
    position: absolute;
    width: 250px;
    height: 75px;
    left: 53px;
    top: 712px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000; 
    
}
.topic_6 svg
{
    position: absolute;
    width: 38px;
    height: 50px;
    left: 342px;
    top: 725px;
}

.topic7
{
    
    position: absolute;
    width: 250px;
    height: 75px;
    left: 53px;
    top: 812px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000; 
    
}
.topic_7 svg
{
    position: absolute;
    width: 38px;
    height: 50px;
    left: 342px;
    top: 825px;
}

.topic8
{
    
    position: absolute;
    width: 250px;
    height: 75px;
    left: 53px;
    top: 912px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000; 
    
}
.topic_8 svg
{
    position: absolute;
    width: 38px;
    height: 50px;
    left: 342px;
    top: 925px;
}

.table_content
{
    padding-left: 550px;
}

input.checkbox_video
{
    margin-left: 120px;
    padding-left: 300px;
    font-size: 200px;
    width: 20px;
    height: 20px;
}

.table_content .completed_label
{
    font-size: 25px;
    font-family: 'Montserrat';
}
.table_content .next_button
{
    margin-left: 300px;
    width: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    border-radius: 20px;
}

.table_content .additional_button
{
    margin-left: 300px;
    width: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    border-radius: 20px;
}

.table_content .additional1_button
{
    margin-left: 400px;
    width: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    border-radius: 20px;
}
.table_content .additional2_button
{
    margin-left: 400px;
    width: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    border-radius: 20px;
}