*{
    font-family: 'Montserrat';
    color: #1C7730;
}


.header{
    width: 100%;
    height: 140px;
    background-color: #1C7730;
    
}
.title{
    float: left;
    color: white;
    font-size: 64px;
    font-weight: 600px;
    line-height: 61px;
}
img{
    float: left;
}
.logout button{
    float: right;
    background-color: transparent;
    border: 5px solid transparent;
    padding-top: 50px;
    padding-right: 50px;
    color: rgb(255, 255, 255);
}

.logout:hover{
    color: #fff;
    top: -2px;
}

.btn
{      
    position: absolute;
    width: 200px;
    height: 50px;
    left: 40px;
    top: 600px;
    overflow: hidden;
    border: 2px solid #1C7730;  
    font-size: 1rem;
    text-align: center;
    color: #1C7730;
    background: none;
    cursor: pointer;
    margin: 15px 30px;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 4rem;
    font-weight:700;
}
.btn:after{
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
   box-sizing: border-box;
}
.btn-02:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #1C7730;
}

.btn-02:hover,
.btn-02:active {
  color: #ffffff;
}

.btn-02:hover:after,
.btn-02:active:after {
  height: 100%;
}

.item1 label{
    position: absolute;
    width: 361px;
    height: 51px;
    left: 50px;
    top: 224px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.item1 select{
    position: absolute;
    width: 278px;
    height: 36px;
    left: 389px;
    top: 232px;
    color: #1C7730;
}

.item2 .label{
    position: absolute;
    width: 361px;
    height: 52px;
    left: 52px;
    top: 345px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.list{
    position: absolute;
    font-size: 18px;
    width: 677px;
    height: 39px;
    left: 389px;
    top: 360px;
}


.item3 label{
    position: absolute;
    width: 361px;
    height: 52px;
    left: 50px;
    top: 455px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.item3 input{
    position: absolute;
    width: 20%;
    height: 31px;
    left: 419px;
    top: 455px;
    cursor: pointer;
}

.btn1
{      
    position: absolute;
    width: 200px;
    height: 50px;
    left: 40px;
    top: 600px;
    overflow: hidden;
    border: 2px solid #1C7730;  
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    background: #1C7730;
    cursor: pointer;
    margin: 15px 30px;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 4rem;
    font-weight:700;
}

.item4 h1{
    position: absolute;
    width: 565px;
    height: 50px;
    left: 51px;
    top: 551px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.item4 textarea{
    resize: none;
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 51px;
    top: 625px;
    font-style: normal;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.item4 textarea:focus{
    outline: none;
}