*{
    font-family: 'Montserrat';
}

a{
    color: #1C7730;
}

.header{
    position: fixed;
    width: 100%;
    height: 10px;
    background-color: #1C7730;
    
}
.title{
    float: left;
    color: white;
    font-size: 55px;
}
img{
    float: left;
}

.logout button{
    float: right;
    background-color: transparent;
    border: 5px solid transparent;
    padding-top: 50px;
    padding-right: 50px;
    color: rgb(255, 255, 255);
  }




.container{
    padding-top: 30px;
    padding-bottom: 60px;
}



/* Rectangle 6 */
.rectangle{
position: absolute;
width: 351px;
height: 95px;
padding: 20px;
background: #C2ECAE;
border-radius: 20px;
}


.rectangle h3{
position: absolute;
width: 184.03px;
height: 61.11px;
text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;

color: #000000;
}

.rect {
    position: absolute;
    width: 520px;
    height: 305px;
    top: 347px;
    padding: 20px;
    background: #C2ECAE;
    border-radius: 20px;
}

#det th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 60px;
    text-align: left;
    background-color: transparent;
    color: rgb(6, 1, 1);
  }
  .btn
  {      
      position: absolute;
      width: 200px;
      height: 50px;
      left: 40px;
  
      overflow: hidden;
      border: 2px solid #1C7730;  
      font-size: 1rem;
      text-align: center;
      color: #1C7730;
      background: none;
      cursor: pointer;
      margin: 15px 30px;
      outline: none;
      position: relative;
      transition: all 0.3s;
      border-radius: 4rem;
      font-weight:700;
  }
  .btn:after{
      content: '';
      position: absolute;
      z-index: -1;
      transition: all 0.3s;
     box-sizing: border-box;
  }
  .btn-02:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #1C7730;
  }
  
  .btn-02:hover,
  .btn-02:active {
    color: #ffffff;
  }
  
  .btn-02:hover:after,
  .btn-02:active:after {
    height: 100%;
  }
.butt{
    position: absolute;
width: 200px;
height: 60px;
top: 438px;

}
.butt button{
    border-radius: 20px;
    padding: 15px;
}
.rect3 {
    position: absolute;
    width: 270px;
    height: 330px;
    top: 547px;
    padding: 10px;
    background: #C2ECAE;
    border-radius: 20px;
}
.rect2 {
    position: absolute;
    width: 470px;
    height: 205px;
    padding: 20px;
    background: #C2ECAE;
    border-radius: 20px;
}

.header1{
    background-color: green;
    width: 100%;
    height: 140px;
    background-color: #1C7730;
    
}
@media screen and (min-width: 300px){

    .header{
              position: relative;
              width: 100%;
              height: 140px;
          }
          .title {
            float: left;
            color: white;
            font-size: 30px;
          }
          .logout button{
            float: right;
            background-color: transparent;
            width: 90px;
            height: 50px;
            border: 5px solid transparent;
            font-size: 20px;
            color: rgb(255, 255, 255);
          }
    
    .rectangle{
        position: relative;
        width: 220px;
        height: 50px;
        padding: 5px;
    }
    .rectangle h3{
        font-size: 95%;
        position: absolute;
        top: 10px;
        
    }
    .rect2 {
        position: relative;
        width: 300px;
        height: 200px;
        padding: 20px;
        top: 20px;
        background:  #C2ECAE;
        border-radius: 20px;
    }
    .rect2 h1{
        font-size: 95%;
    }
    .rect {
        position: relative;
        width: 430px;
        height: 210px;
        top: 10px;
        padding: 10px;
        background: #C2ECAE;
        border-radius: 20px;
    }
    .butt{
        position: relative;
        width: 200px;
        height: 60px;
        top: 30px;
    
    }
    .rect3 {
        position: relative;
        width: 420px;
        height: 420px;
        top: 50px;
        padding: 20px;
        background: #C2ECAE;
        border-radius: 20px;
    }
    }