*{
    font-family: 'Montserrat';
    color: #1C7730;
}


.header{
    width: 100%;
    height: 140px;
    background-color: #1C7730;
    
}
.title{
    float: left;
    color: white;
    font-size: 64px;
    font-weight: 600px;
    line-height: 61px;
}
img{
    float: left;
}
.logout{
    position: relative;
    font-size: 24px;
    cursor: pointer;
    float: right;
    padding-top: 50px;
    padding-right: 50px;
    color: white;
}

.logout:hover{
    color: #fff;
    top: -2px;
}

.item1 h1{
    position: absolute;
    width: 381px;
    height: 50px;
    left: 51px;
    top: 175px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
}

.item1 input{
    color: #000000;
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 51px;
    top: 250px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.item1 input:focus{
    outline: none;
}

.item2 h1{
    position: absolute;
    width: 381px;
    height: 50px;
    left: 51px;
    top: 362px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
}

.item2 input{
    position: absolute;
    width: 175px;
    height: 45px;
    left: 129px;
    top: 439px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 39px;
    color: #000000;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.item2 svg{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 68px;
    top: 439px;
}

.item3 h1{
    position: absolute;
    width: 565px;
    height: 50px;
    left: 51px;
    top: 541px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
}

.item3 textarea{
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 51px;
    top: 615px;
    font-style: normal;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.item3 textarea:focus{
    outline: none;
}

.btn
{      
    position: absolute;
    width: 200px;
    height: 50px;
    left: 40px;
    top: 600px;
    overflow: hidden;
    border: 2px solid #1C7730;  
    font-size: 1rem;
    text-align: center;
    color: #1C7730;
    background: none;
    cursor: pointer;
    margin: 15px 30px;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 4rem;
    font-weight:700;
}
.btn:after{
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
   box-sizing: border-box;
}
.btn-02:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #1C7730;
}

.btn-02:hover,
.btn-02:active {
  color: #ffffff;
}

.btn-02:hover:after,
.btn-02:active:after {
  height: 100%;
}
@media screen and  (max-width: 768px){
    .title{
        font-size: 30px;
        font-weight: 600px;
        line-height: 45px;
    }
    .logout{
        position: absolute;
        font-size: 20px;
        float: left;
        padding-top: 95px;
        padding-right: 10px;
    }
    .item1 h1{
        position: center;
        width: 300px;
        height: 20px;
        left: 20px;
        top: 150px;
        font-weight: 600;
        font-size: 22px;
        line-height: 49px;
    }
    .item1 input{
        position: center;
        width: 1000px;
        height: 50px;
        left: 20px;
        top: 190px;
        
    }
    .item2 h1{
        position: center;
        width: 300px;
        height: 20px;
        left: 20px;
        top: 270px;
    }
    
    .item2 input{
        position: center;
        width: 500px;
        height: 50px;
        left: 20px;
        top: 320px;
    }
    
    .item2 svg{
        position: absolute;
        width: 45px;
        height: 45px;
        left: 250px;
        top: 320px;
    }
    .item3 h1{
        position: center;
        width: 400px;
        height: 20px;
        left: 20px;
        top: 400px;
        font-weight: 600;
        font-size: 22px;
        line-height: 49px;
    }
    
    .item3 textarea{
        position: absolute;
        width: 1000px;
        height: 100px;
        left: 20px;
        top: 460px;
   
    }
    
}   