* {
    font-family: "Montserrat";
    color: #1c7730;
    position: relative;
  }
  .header {
    width: 100%;
    height: 140px;
    background-color: #1c7730;
    top: 0px;
   
  }
  
  .title {
    float: left;
    color: white;
    font-size: 64px;
  }
  img {
    float: left;
  }
  .logout button{
    float: right;
    background-color: transparent;
    border: 5px solid transparent;
    padding-top: 50px;
    padding-right: 50px;
    color: rgb(0, 0, 0);
  }
  .items {
   
    width: 100%;
  }
  .images {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .it-text {
    padding-top: 18px;
    padding-left: 20px;
    padding-right:0px;
    float: left;
  }


  .announcement{
    position: absolute;
    float: right;
    width: 80%;
    height: 100%;
    right: 0px;
    top: 0px; 
    background-color: #ACF0A6;
}
  .announcement img{
    position: absolute;
    width: 53px;
    height: 57px;
    left: 65px;
    top: 52px;
  }
  
  .announcement h4{
    position: absolute;
    width: 333px;
    height: 71px;
    left: calc(50% - 333px/2 + 25px);
    top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #1b1bbd;
  }
  
  .an-card{
    position: absolute;
    width: 390px;
    height: 160px;
    left: 65px;
    top: 128px;
    background-color: #fff;
  }
  
  .an-card p{
    padding-block: 5px;
    text-align: center;
    width: 350px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .an-card h1{
    padding-left: 5px;
    width: 350px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .an-card h2{
    padding-left: 5px;
    width: 105px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  
  .an-card h3{
    width: 197px;
    height: 17px;
    padding-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #0A1008;
    flex: none;
    order: 2;
    flex-grow: 0;
  } 
  
  
  
  .anmnts{
      background-color: #ACF0A6;
      padding-bottom: 100%;
      padding-left: 30px;
  }
  .anmnts-item{
      background-color: #FFFFFF;
     
  }
  .anmnts-header{
      color: #131316;
  }
  .head h2{
    color: black;
    font-weight: bold;
  }
  
  @media screen and  (max-width: 600px){
    .logout button{
      float: right;
      background-color: transparent;
      border: 5px solid transparent;
      padding-top: 50px;
      padding-right: 50px;
      color: rgb(255, 255, 255);
    }
    .announcement{
      position: absolute;
      float: right;
      width: 80%;
      height: 100%;
      right: 0px;
      top: 0px; 
      background-color: #ACF0A6;
  }
    .announcement img{
      position: absolute;
      width: 53px;
      height: 57px;
      left: 65px;
      top: 52px;
    }
    
    .announcement h4{
      position: absolute;
      width: 333px;
      height: 71px;
      left: calc(50% - 333px/2 + 25px);
      top: 50px;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      color: #1b1bbd;
    }
    
    .an-card{
      position: absolute;
      width: 390px;
      height: 160px;
      left: 65px;
      top: 128px;
      background-color: #fff;
    }
    
    .an-card p{
      padding-block: 5px;
      text-align: center;
      width: 350px;
      height: 22px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
    }
    
    .an-card h1{
      padding-left: 5px;
      width: 350px;
      height: 17px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
    
    .an-card h2{
      padding-left: 5px;
      width: 105px;
      height: 34px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      flex: none;
      order: 2;
      flex-grow: 0;
    }
    
    .an-card h3{
      width: 197px;
      height: 17px;
      padding-left: 5px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-decoration-line: underline;
      color: #0A1008;
      flex: none;
      order: 2;
      flex-grow: 0;
    } 
    
    
    
    .anmnts{
        background-color: #ACF0A6;
        padding-bottom: 100%;
        padding-left: 30px;
    }
    .anmnts-item{
        background-color: #FFFFFF;
       
    }
    .anmnts-header{
        color: #131316;
    }
    .head h2{
      color: black;
      font-weight: bold;
    }
    
  }

  