*{
    font-family: 'Montserrat';
}

a{
    color: #1C7730;
}


.header{
    width: 100%;
    height: 140px;
    background-color: #1C7730;
    
}
.title{
    float: left;
    color: white;
    font-size: 64px;
}
img{
    float: left;
}
.logout button{
    float: right;
    background-color: transparent;
    border: 5px solid transparent;
    padding-top: 50px;
    padding-right: 50px;
    color: rgb(255, 255, 255);
}

.item1 svg{
    position: absolute;
    width: 82px;
    height: 89px;
    left: 108px;
    top: 206px;
}

.item1 h4{
    position: absolute;
    width: 398px;
    height: 43px;
    left: 304px;
    top: 227px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.item2 svg{
    position: absolute;
    width: 56px;
    height: 53px;
    left: 123px;
    top: 360px;
}

.item2 h4{
    position: absolute;
    width: 398px;
    height: 43px;
    left: 304px;
    top: 356px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.item3 svg{
    position: absolute;
    width: 56px;
    height: 53px;
    left: 127px;
    top: 478px;
}

.item3 h4{
    position: absolute;
    width: 270px;
    height: 55px;
    left: 312px;
    top: 485px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.item4 svg{
    position: absolute;
    width: 68px;
    height: 70px;
    left: 127px;
    top: 617px;
}

.item4 h4{
    position: absolute;
    width: 376px;
    height: 70px;
    left: 308px;
    top: 617px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.item5 svg{
    position: absolute;
    width: 74px;
    height: 71px;
    left: 127px;
    top: 763px;
}

.item5 h4{
    position: absolute;
    width: 376px;
    height: 70px;
    left: 308px;
    top: 764px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.item6 svg{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 131px;
    top: 904px;    
}

.item6 h4{
    position: absolute;
    width: 376px;
    height: 70px;
    left: 311px;
    top: 904px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.announcement{
    position: absolute;
    float: left;
    width: 30%;
    height: 100%;
    left: 70%;
    top: 150px; 
    background-color: #ACF0A6;
}

.announcement svg{
    position: absolute;
    width: 53px;
    height: 57px;
    left: 41px;
    top: 52px;
}

.announcement h4{
    position: absolute;
    width: 333px;
    height: 71px;
    left: calc(50% - 333px/2 + 37px);
    top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #182DED;
}

.an-card{
    position: absolute;
    width: 390px;
    height: 160px;
    left: 29px;
    top: 128px;
    background-color: #fff;
}

.an-card p{
    padding-block: 5px;
    text-align: center;
    width: 350px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.an-card h1{
    padding-left: 5px;
    width: 350px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.an-card h2{
    padding-left: 5px;
    width: 105px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.an-card h3{
    width: 197px;
    height: 17px;
    padding-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #0A1008;
    flex: none;
    order: 2;
    flex-grow: 0;
 } 
 @media screen and  (max-width: 600px){
        .title{
          float: left;
          font-size: 32px;
      }
      .logout{
          position: relative;
          font-size: 20px;
          float: right;
          padding-top: 20px;
          padding-right: 15px;
      }
 }