*{
    font-family: 'Montserrat';
  
}

header{
    position: absolute;
    width: 100%;
    height: 145px;
    background-color: #1C7730;
    left: 0px;
    top:0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header h1{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 10px;
    top: auto;
    color: #fff;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
}

header img{
    position: absolute;
    width: 146px;
    height: 131px;
    left: 17px;
    top: 7px;
    border-radius: 89px;
}

header h4{
    position: absolute;
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.mentee-list .list{
    position: absolute;
    width: 388px;
    height: 71px;
    left: 25px;
    top: 174px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #000000;
    text-shadow: 0px 4px 10px rgba(91, 91, 91, 0.25);
}

.card{
    color: #000000;
}

.card-body{
    margin-right: 30px;
    margin-bottom: 30px;
    display: inline-block; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    width: 240px;
    height: 267px;
    left: 39px;
    top: 300px;
    cursor: pointer;
    background: #C2ECAE;
    border-radius: 20px;
}

.card-body:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card-body h3{
    text-align: center;
}

.card-body p{
    text-align: center;
}

.card-body .dp{
    padding-top: 10px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
@media screen and (max-width: 600px) {
header h1{
      float: left;
      font-size: 32px;
  }
header h4{
      position: absolute;
      font-size: 20px;
      float: right;

      padding-top: 20px;
      padding-right: 15px;
  }
    
  }