*{
    font-family: 'Montserrat';

}
.header{
    width: 100%;
    height: 140px;
    background-color: #1C7730;
    top: 0px;
    position: relative;
    
}
.title{
    float: left;
    color: white;
    font-size: 64px;
}
img{
    float: left;
}
.logout{
    float: right;
    padding-top: 50px;
    padding-right: 50px;
    color: white;
}

.pagetitle{
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    animation-name: titleani;
    animation-duration: 4s;
}

@keyframes titleani {
 from{color:aliceblue}
 to{color:black}
}
.certfics p{
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2{
    padding: 50px;
}
    
.certfics p{
    width:100%;
    color:royalblue;
    align-items: center;
    text-align:left;
    font-size: 20px;
    height: 40px;
    background-color: rgb(189, 225, 178);
    position: relative;
    animation-name: example;
    animation-timing-function: ease;
  }
  
  @keyframes example {
    from{left:300px;}
    to{left:0px;}
  }
  #p1{animation-duration: 2s;}
  #p2{animation-duration: 2.5s;}
  #p3{animation-duration: 2.9s;}

  .bottom{
      width: 302px;
      margin-top:100px;  
      object-fit:contain;
      display:grid;
      
      
  }
@media screen and (max-width: 600px){
    .header{
        width: 100%;
        height: 140px;
        background-color: #1C7730;
            
            
        }
    .title{
        float: left;
        font-size: 32px;
    }
    .logout{
        position: unset;
        font-size: 20px;
        cursor: pointer;
        float: right;
        padding-top: 39px;
        padding-right: 15px;
    }
    .bottom{
        width: 400px;
        margin-top: 250px;     
        
    }
}